<div class="login-wrapper">
  <div class="login-container">
    <h2 class="page-title">Login</h2>

    <form (ngSubmit)="onLogin()">
      <input
        type="email"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <button type="submit">Login</button>
    </form>

    <!-- Success & Error Message -->
    <div *ngIf="successMessage" class="message success">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="message error">
      {{ errorMessage }}
    </div>
  </div>
</div>
